body {
	background-color: white;
}

h2 {
	font-size: 1.2em;
	color: blue;
}

.content {
	padding: 2em 6em;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header {
	background-color: #D9F8F8;
	border-bottom: .25em solid #4ca5a5;
	display: -webkit-flex;
	display: flex;
	height: 5em;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header_heading {
	color: #aCA5A5;
	float: left;
	font-size: 2em;
	padding: .6em 0 1em 0;
}

.footer {
	background-color: #D9f8f8;
	border-top: .25em solid #4ca5a5;
	bottom: 0;
	display: block;
	height: 2.5em;
	position: fixed;
	text-align: center;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer_text {
	color: #4ca5a5;
	font-size: 1em;
	padding: .5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer_text a {
	color: #4ca5a5;
}