<!DOCTYPE HTML>
<html>
	<head>
		<title>Bookings APP</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/css/base.css">
	</head>

	<body>
		<div class="header">
			<span class="header_heading">
			This is Bookings APP</span>
		</div>
		<div class="content">
			
		</div>
		<div class="footer">
			<div class="footer_text">
				Created by Sandra Õnne
			</div>
		</div>
	</body>
</html>
