<!DOCTYPE HTML>
<html>
	<head>
		<title>Bookings APP</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/css/base.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/css/header.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/css/footer.css">
	</head>

	<body>
		{{ include('_header.html.twig')}}
		<div class="content">
			
		</div>
		{{ include('_footer.html.twig')}}
	</body>
</html>
